# .env.example
GEMINI_API_KEY=
FIREBASE_PROJECT_ID=speed-fit-b273a
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@speed-fit-b273a.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
